.NewPost {
    width: 75%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background-color: rgb(223, 238, 233);
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 40%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    font: inherit;
    margin: auto;
}

.NewPost button {
    margin: 20px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    border-radius: 3px;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #fa923f;
}