.FullPost {
    width: 75%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background-color: rgb(223, 238, 233);
}

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    margin: 20px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    border-radius: 3px;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.Edit button:hover,
.Edit button:active {
    color: white;
    background-color: #fa923f;
}

.Edit button.Delete {
    color: #fa923f;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: white;
}